.grid {
  display: grid;
  height: 100%;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75px 200px 200px 200px 100px;
  grid-template-areas:
  "n n n n n n n n n n n n"
  "h h h h h h h h h h h h"
  "w w w w w w w w w w w w"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f";
}
#navigation {
  grid-area: n;
  border: 1px solid black;
}
#header {
  grid-area: h;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}
#work {
  grid-area: w;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}
#contact {
  grid-area: c;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}
#footer {
  grid-area: f;
  border: 1px solid black;
}




body {
  background-color: pink;
  margin: 0%;
}
/* Navigation */
.navwrap {
  text-align: left;
}
ul {
  padding: 0px;
}
li {
  display: inline-block;
  margin: 10px 5px;
}
li:first-child {
  margin-left: 10px;
}
li a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 15%;
  padding: 3px;
}
li a:hover {
  background-color: black;
}

/* Header Content */
.profileContainer {
  display: flex;
  margin-top: 2rem;
}
.left-half {
  flex: 1;
  text-align: center;
}
.right-half {
  flex: 1;
}
.profilepic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 40%;
  float: right;
}







/* Float Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
