body {
}

/* Navigation */
.navbar {
  height: 80px;
  background: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
.navbar-brand {
  margin-top: -10px;
  color: black;
}
.navbar-brand:hover {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}
.navbar-nav li a {
  color: black;
  margin: -10px 5px 5px 5px;
}
.navbar-nav li a:hover {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}
.navbar-toggler {
  border-color: #C57ED3;
}
.navbar-toggler-icon {
  background: transparent;
}

/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: white;
  transition: 1s ease 0s;
  box-shadow: 0 0 4px grey;
  .navbar-brand {
    color: #C57ED3;
    transition: color 1s ease 0s;
  }
  .navbar-nav {
    >li {
      >a {
        color: #C57ED3;
        transition: color 1s ease 0s;
      }
    }
  }
}

/* Jumbotron */
.jumbotron {
  background: transparent;
  background: url("sky.jpg")
              no-repeat;
  background-position: top;
  background-attachment: fixed;
  margin-bottom: 0px;
  height: 375px;
}
.jumbotron .container {
  padding-top: 2rem;
}

/* About Section */
.about {
  padding-top: 30px;
  background-color: gray;
  text-align: center;
}
.about-image {
  background-color: gray;
  padding-top: 10px;
  /* centered image */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.profile-image {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}
.list-group {
}
.list-group-item {
  background-color: grey;
  padding-top: 3px;
  padding-bottom: 3px;
}
.list-group-item:last-child {
  padding-bottom: 10px;
}
.skills {
  text-align: center;
}

/* Work Section */
.work {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-work {
  width: 18rem;
}

/* Contact Section */
.contact {
  background: transparent;
  background: url("land.jpg")
              no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  margin-bottom: 0px;
  height: 425px;
}


/* MEDIA QUERIES */
